Repository Shubhamsaboo/awesome-llm-apps: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-dependencies, validate-documentation, check-sensitive-files

.pre-commit-config.yaml:

# Pre-commit hooks for awesome-llm-apps
# Install with: pip install pre-commit && pre-commit install

repos:
  # Python code quality
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.4
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # Python type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.9.0
    hooks:
      - id: mypy
        args: [--ignore-missing-imports, --no-strict-optional]
        additional_dependencies: [types-requests]

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.8
    hooks:
      - id: bandit
        args: [-ll, -i, -x, "tests/*,test_*.py"]

  # Markdown formatting
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.17
    hooks:
      - id: mdformat
        additional_dependencies:
          - mdformat-gfm
          - mdformat-frontmatter

  # YAML formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-json
      - id: pretty-format-json
        args: [--autofix, --no-sort-keys]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Custom dependency validation hook
  - repo: local
    hooks:
      - id: validate-dependencies
        name: Validate Python dependencies
        entry: python scripts/pre_commit_dependency_validator.py
        language: python
        files: requirements\.txt$
        pass_filenames: true
        additional_dependencies: [packaging, requests]

      - id: validate-documentation
        name: Validate documentation standards
        entry: python scripts/pre_commit_doc_validator.py
        language: python
        files: README\.md$
        pass_filenames: true

      - id: check-sensitive-files
        name: Check for sensitive information
        entry: python scripts/pre_commit_sensitive_check.py
        language: python
        types: [text]
        exclude: ^(\.git|__pycache__|\.env\.example|.*\.md)$

# Configuration for specific hooks
exclude: |
  (?x)^(
    \.git/|
    \.github/|
    __pycache__/|
    \.mypy_cache/|
    \.pytest_cache/|
    node_modules/|
    venv/|
    \.env
  )

# Global configurations
default_language_version:
  python: python3.12

ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: [mypy]  # Skip mypy in CI as it's handled separately

Add Life Insurance Coverage Advisor agent
  starter_ai_agents/ai_life_insurance_advisor_agent/README.md
  starter_ai_agents/ai_life_insurance_advisor_agent/life_insurance_advisor_agent.py
  starter_ai_agents/ai_life_insurance_advisor_agent/requirements.txt
Due: validate-dependencies, validate-documentation, check-sensitive-files

feat: Update GitHub MCP Agent to use official GitHub MCP Server via Docker
  mcp_ai_agents/github_mcp_agent/README.md
  mcp_ai_agents/github_mcp_agent/github_agent.py
Due: validate-documentation, check-sensitive-files

Update README to reflect new script name
  starter_ai_agents/ai_life_insurance_advisor_agent/README.md
Due: validate-documentation

feat: update AI Email GTM Reachout Agent to work with agno v2
  advanced_ai_agents/single_agent_apps/ai_email_gtm_reachout_agent/README.md
  advanced_ai_agents/single_agent_apps/ai_email_gtm_reachout_agent/ai_email_gtm_reachout.py
  advanced_ai_agents/single_agent_apps/ai_email_gtm_reachout_agent/requirements.txt
Due: validate-dependencies, validate-documentation, check-sensitive-files

feat: update Life Insurance Coverage Advisor to use OpenAI GPT-5 instead of OpenRouter
  starter_ai_agents/ai_life_insurance_advisor_agent/README.md
  starter_ai_agents/ai_life_insurance_advisor_agent/life_insurance_advisor_agent.py
Due: validate-documentation, check-sensitive-files

feat: Add AI Home Renovation Planner Agent with ADK and Nano Banana
  README.md
  advanced_ai_agents/multi_agent_apps/ai_home_renovation_agent/README.md
  advanced_ai_agents/multi_agent_apps/ai_home_renovation_agent/__init__.py
  advanced_ai_agents/multi_agent_apps/ai_home_renovation_agent/agent.py
  advanced_ai_agents/multi_agent_apps/ai_home_renovation_agent/tools.py
Due: validate-documentation, check-sensitive-files

fix: Update README to correct application name for Home Renovation Agent
  advanced_ai_agents/multi_agent_apps/ai_home_renovation_agent/README.md
Due: validate-documentation

feat: Add requirements file for AI Home Renovation Agent
  advanced_ai_agents/multi_agent_apps/ai_home_renovation_agent/requirements.txt
Due: validate-dependencies, check-sensitive-files

fix: Update README to simplify directory navigation for AI Home Renovation Agent
  advanced_ai_agents/multi_agent_apps/ai_home_renovation_agent/README.md
Due: validate-documentation

feat: Update README to include new sponsor and adjust image dimensions
  README.md
  docs/banner/sponsors/parlant.png
Due: validate-documentation, check-sensitive-files

Update sponsor image heights in README
  README.md
Due: validate-documentation

Updated README
  README.md
Due: validate-documentation

fix: restore compatibility with latest agno version
  mcp_ai_agents/notion_mcp_agent/README.md
  mcp_ai_agents/notion_mcp_agent/notion_mcp_agent.py
  mcp_ai_agents/notion_mcp_agent/requirements.txt
Due: validate-dependencies, validate-documentation, check-sensitive-files

fix some bugs
  advanced_llm_apps/llm_for_algorithm_design/llm4ad_v1/.env.example
  advanced_llm_apps/llm_for_algorithm_design/llm4ad_v1/example_questions/circle_packing/EoH_settings&logs/run_eoh.py
  advanced_llm_apps/llm_for_algorithm_design/llm4ad_v1/example_questions/cvrp_construct/run_eoh.py
  advanced_llm_apps/llm_for_algorithm_design/llm4ad_v1/example_questions/online_bin_packing/run_eoh.py
  advanced_llm_apps/llm_for_algorithm_design/llm4ad_v1/example_questions/online_bin_packing/run_funsearch.py
  advanced_llm_apps/llm_for_algorithm_design/llm4ad_v1/example_questions/online_bin_packing_local/run_eoh.py
  advanced_llm_apps/llm_for_algorithm_design/llm4ad_v1/example_questions/tsp_construct/run_eoh.py
  advanced_llm_apps/llm_for_algorithm_design/llm4ad_v1/example_questions/vrptw_construct/run_eoh.py
Due: check-sensitive-files

feat: Add Multimodal UI/UX Feedback Agent Team
  README.md
  advanced_ai_agents/multi_agent_apps/agent_teams/multimodal_uiux_feedback_agent_team/README.md
  advanced_ai_agents/multi_agent_apps/agent_teams/multimodal_uiux_feedback_agent_team/__init__.py
  advanced_ai_agents/multi_agent_apps/agent_teams/multimodal_uiux_feedback_agent_team/agent.py
  advanced_ai_agents/multi_agent_apps/agent_teams/multimodal_uiux_feedback_agent_team/requirements.txt
  advanced_ai_agents/multi_agent_apps/agent_teams/multimodal_uiux_feedback_agent_team/tools.py
Due: validate-dependencies, validate-documentation, check-sensitive-files

Add Streamlit RAG Chatbot (OpenRouter + PDF) project
  rag_tutorials/openrouter_rag_based_chatbot/.env.example
  rag_tutorials/openrouter_rag_based_chatbot/.gitignore
  rag_tutorials/openrouter_rag_based_chatbot/README.md
  rag_tutorials/openrouter_rag_based_chatbot/app.py
  rag_tutorials/openrouter_rag_based_chatbot/requirements.txt
  rag_tutorials/openrouter_rag_based_chatbot/snaps/OpenrouterResting.png
  rag_tutorials/openrouter_rag_based_chatbot/snaps/testSnaps.png
  rag_tutorials/openrouter_rag_based_chatbot/utils/pdf_reader.py
Due: validate-dependencies, validate-documentation, check-sensitive-files

Updated Streamlit RAG Chatbot (OpenRouter + PDF) project
  rag_tutorials/openrouter_rag_based_chatbot/app.py
Due: check-sensitive-files

fix: Update sponsor section in README
  README.md
Due: validate-documentation

feat: Add AI SEO Audit Team with README, agent definitions, and requirements
  advanced_ai_agents/multi_agent_apps/agent_teams/ai_seo_audit_team/README.md
  advanced_ai_agents/multi_agent_apps/agent_teams/ai_seo_audit_team/__init__.py
  advanced_ai_agents/multi_agent_apps/agent_teams/ai_seo_audit_team/agent.py
  advanced_ai_agents/multi_agent_apps/agent_teams/ai_seo_audit_team/requirements.txt
Due: validate-dependencies, validate-documentation, check-sensitive-files

feat: Add Enterprise LLM Integration Agent (Neurolink)
  README.md
Due: validate-documentation

refactor: Replace Firecrawl function tool with MCPToolset for enhanced web scraping capabilities
  advanced_ai_agents/multi_agent_apps/agent_teams/ai_seo_audit_team/README.md
  advanced_ai_agents/multi_agent_apps/agent_teams/ai_seo_audit_team/agent.py
  advanced_ai_agents/multi_agent_apps/agent_teams/ai_seo_audit_team/requirements.txt
Due: validate-dependencies, validate-documentation, check-sensitive-files

refactor: Enhance SEO audit agent instructions with detailed steps for URL extraction, data scraping, and report generation
  advanced_ai_agents/multi_agent_apps/agent_teams/ai_seo_audit_team/agent.py
Due: check-sensitive-files
