Repository Shubhamsaboo/awesome-llm-apps: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-dependencies, validate-documentation, check-sensitive-files

validate-dependencies:
  name: Validate Python dependencies
  entry: python scripts/pre_commit_dependency_validator.py
  language: python
  pass_filenames: true
  additional_dependencies:
  - packaging
  - requests

validate-documentation:
  name: Validate documentation standards
  entry: python scripts/pre_commit_doc_validator.py
  language: python
  pass_filenames: true

check-sensitive-files:
  name: Check for sensitive information
  entry: python scripts/pre_commit_sensitive_check.py
  language: python

feat: add repository audit and analysis tools
  scripts/doc_consistency_analyzer.py
  scripts/issue_prioritizer.py
  scripts/repository_profiler.py
  scripts/version_hunter.py
Due: check-sensitive-files

feat: implement UV migration pilot for modern dependency management
  docs/UV_MIGRATION_GUIDE.md
  rag_tutorials/corrective_rag/pyproject.toml
  scripts/uv_migration_helper.py
  templates/UV_README_SECTION.md
  templates/pyproject.toml.template
  voice_ai_agents/customer_support_voice_agent/pyproject.toml
Due: check-sensitive-files

fix-prompt
  advanced_ai_agents/autonomous_game_playing_agent_apps/ai_tic_tac_toe_agent/agents.py
Due: check-sensitive-files

AI Consultant Agent with adk
  advanced_ai_agents/single_agent_apps/ai_consultant_agent/README.md
  advanced_ai_agents/single_agent_apps/ai_consultant_agent/__init__.py
  advanced_ai_agents/single_agent_apps/ai_consultant_agent/agent.py
  advanced_ai_agents/single_agent_apps/ai_consultant_agent/ai_consultant_agent.py
  advanced_ai_agents/single_agent_apps/ai_consultant_agent/requirements.txt
Due: validate-dependencies, validate-documentation, check-sensitive-files

Updated README
  README.md
  advanced_ai_agents/single_agent_apps/ai_consultant_agent/README.md
  advanced_ai_agents/single_agent_apps/ai_consultant_agent/requirements.txt
Due: validate-dependencies, validate-documentation, check-sensitive-files

feat: added google ADK tutorial
  google_adk_tutorials/structured_output_agent/README.md
  google_adk_tutorials/structured_output_agent/email_generator_agent/.env.example
  google_adk_tutorials/structured_output_agent/email_generator_agent/__init__.py
  google_adk_tutorials/structured_output_agent/email_generator_agent/agent.py
  google_adk_tutorials/structured_output_agent/requirements.txt
Due: validate-dependencies, validate-documentation, check-sensitive-files

feat: add customer support ticketing agent tutorial with structured output
  google_adk_tutorials/structured_output_agent/customer_support_ticket_agent/README.md
  google_adk_tutorials/structured_output_agent/customer_support_ticket_agent/customer_support_agent/.env.example
  google_adk_tutorials/structured_output_agent/customer_support_ticket_agent/customer_support_agent/__init__.py
  google_adk_tutorials/structured_output_agent/customer_support_ticket_agent/customer_support_agent/agent.py
  google_adk_tutorials/structured_output_agent/customer_support_ticket_agent/requirements.txt
  google_adk_tutorials/structured_output_agent/email_agent/README.md
  google_adk_tutorials/structured_output_agent/email_agent/email_generator_agent/.env.example
  google_adk_tutorials/structured_output_agent/email_agent/email_generator_agent/__init__.py
  google_adk_tutorials/structured_output_agent/email_agent/email_generator_agent/agent.py
  google_adk_tutorials/structured_output_agent/email_agent/requirements.txt
Due: validate-dependencies, validate-documentation, check-sensitive-files

use of sonar for search
  advanced_ai_agents/single_agent_apps/ai_consultant_agent/README.md
  advanced_ai_agents/single_agent_apps/ai_consultant_agent/ai_consultant_agent.py
Due: validate-documentation, check-sensitive-files

Update README.md: Remove duplicate line
  advanced_ai_agents/single_agent_apps/ai_investment_agent/README.md
Due: validate-documentation

Fixed cd path for ai_financial_coach_agent
  advanced_ai_agents/multi_agent_apps/ai_financial_coach_agent/README.md
Due: validate-documentation

fix of library version issue
  mcp_ai_agents/ai_travel_planner_mcp_agent_team/requirements.txt
Due: validate-dependencies, check-sensitive-files

fix: updated the multi-agent researcher to use teams in Agno
  advanced_ai_agents/multi_agent_apps/multi_agent_researcher/README.md
  advanced_ai_agents/multi_agent_apps/multi_agent_researcher/research_agent.py
  advanced_ai_agents/multi_agent_apps/multi_agent_researcher/research_agent_llama3.py
Due: validate-documentation, check-sensitive-files

feat: updated coordinated team structure for product launch intelligence agent
  advanced_ai_agents/multi_agent_apps/product_launch_intelligence_agent/README.md
  advanced_ai_agents/multi_agent_apps/product_launch_intelligence_agent/product_launch_intelligence_agent.py
Due: validate-documentation, check-sensitive-files

chore: update google-adk version in ai_consultant_agent requirements
  advanced_ai_agents/single_agent_apps/ai_consultant_agent/requirements.txt
Due: validate-dependencies, check-sensitive-files

Create python-package-conda.yml
  .github/workflows/python-package-conda.yml
Due: none

Create nextjs.yml
  .github/workflows/nextjs.yml
Due: none

Create nextjs.yml
  nextjs.yml
Due: check-sensitive-files

Add Gpt Agent - Computer Automation to starter AI agents
  README.md
Due: validate-documentation

fix: improve competitor agent
  advanced_ai_agents/multi_agent_apps/agent_teams/ai_competitor_intelligence_agent_team/competitor_agent_team.py
Due: check-sensitive-files

fix: update tutorial links for improved navigation and clarity
  ai_agent_framework_crash_course/google_adk_tutorials/1_starter_agent/README.md
Due: validate-documentation

fix: 更新Windows平台的事件循环策略并修正README中的路径
  starter_ai_agents/ai_meme_generator_agent_browseruse/README.md
  starter_ai_agents/ai_meme_generator_agent_browseruse/ai_meme_generator_agent.py
Due: validate-documentation, check-sensitive-files

feat: 添加对DeepSeek模型的支持
  advanced_ai_agents/autonomous_game_playing_agent_apps/ai_tic_tac_toe_agent/README.md
  advanced_ai_agents/autonomous_game_playing_agent_apps/ai_tic_tac_toe_agent/agents.py
  advanced_ai_agents/autonomous_game_playing_agent_apps/ai_tic_tac_toe_agent/app.py
Due: validate-documentation, check-sensitive-files

Update: Added Cardiovascular diseases predictor using machine learning ailgorithm (xgboost)
  .gitignore
  ai_health_app/cardiovascular_disease_predictor/LICENSE
  ai_health_app/cardiovascular_disease_predictor/README.md
  ai_health_app/cardiovascular_disease_predictor/requirements.txt
  ai_health_app/cardiovascular_disease_predictor/streamlit_app.py
  ai_health_app/cardiovascular_disease_predictor/thumbnail.jpg
  ai_health_app/cardiovascular_disease_predictor/xgboost_cvd_predictor.pkl
Due: validate-dependencies, validate-documentation, check-sensitive-files

Update README.md
  README.md
Due: validate-documentation

Path conditions:
  validate-dependencies: any of: requirements\.txt$, but not: (?x)^(
  \.git/|
  \.github/|
  __pycache__/|
  \.mypy_cache/|
  \.pytest_cache/|
  node_modules/|
  venv/|
  \.env
)

  validate-documentation: any of: README\.md$, but not: (?x)^(
  \.git/|
  \.github/|
  __pycache__/|
  \.mypy_cache/|
  \.pytest_cache/|
  node_modules/|
  venv/|
  \.env
)

  check-sensitive-files: any of: not (^(\.git|__pycache__|\.env\.example|.*\.md)$), but not: (?x)^(
  \.git/|
  \.github/|
  __pycache__/|
  \.mypy_cache/|
  \.pytest_cache/|
  node_modules/|
  venv/|
  \.env
)

