Repository Shubhamsaboo/awesome-llm-apps: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-dependencies, validate-documentation, check-sensitive-files

.pre-commit-config.yaml:

# Pre-commit hooks for awesome-llm-apps
# Install with: pip install pre-commit && pre-commit install

repos:
  # Python code quality
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.4
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # Python type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.9.0
    hooks:
      - id: mypy
        args: [--ignore-missing-imports, --no-strict-optional]
        additional_dependencies: [types-requests]

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.8
    hooks:
      - id: bandit
        args: [-ll, -i, -x, "tests/*,test_*.py"]

  # Markdown formatting
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.17
    hooks:
      - id: mdformat
        additional_dependencies:
          - mdformat-gfm
          - mdformat-frontmatter

  # YAML formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-json
      - id: pretty-format-json
        args: [--autofix, --no-sort-keys]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Custom dependency validation hook
  - repo: local
    hooks:
      - id: validate-dependencies
        name: Validate Python dependencies
        entry: python scripts/pre_commit_dependency_validator.py
        language: python
        files: requirements\.txt$
        pass_filenames: true
        additional_dependencies: [packaging, requests]

      - id: validate-documentation
        name: Validate documentation standards
        entry: python scripts/pre_commit_doc_validator.py
        language: python
        files: README\.md$
        pass_filenames: true

      - id: check-sensitive-files
        name: Check for sensitive information
        entry: python scripts/pre_commit_sensitive_check.py
        language: python
        types: [text]
        exclude: ^(\.git|__pycache__|\.env\.example|.*\.md)$

# Configuration for specific hooks
exclude: |
  (?x)^(
    \.git/|
    \.github/|
    __pycache__/|
    \.mypy_cache/|
    \.pytest_cache/|
    node_modules/|
    venv/|
    \.env
  )

# Global configurations
default_language_version:
  python: python3.12

ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: [mypy]  # Skip mypy in CI as it's handled separately

Added await keyword when creating/destroying session object asynchronously
  advanced_ai_agents/multi_agent_apps/ai_financial_coach_agent/ai_financial_coach_agent.py
Due: check-sensitive-files

feat: add javascript ai news agent project
  README.md
  starter_ai_agents/ai_news_agent/.gitignore
  starter_ai_agents/ai_news_agent/LICENSE
  starter_ai_agents/ai_news_agent/README.en.md
  starter_ai_agents/ai_news_agent/README.md
  starter_ai_agents/ai_news_agent/config.js
  starter_ai_agents/ai_news_agent/index.js
  starter_ai_agents/ai_news_agent/modules/crawler.js
  starter_ai_agents/ai_news_agent/modules/grouper.js
  starter_ai_agents/ai_news_agent/modules/processor.js
  starter_ai_agents/ai_news_agent/modules/ranker.js
  starter_ai_agents/ai_news_agent/modules/reporter.js
  starter_ai_agents/ai_news_agent/package.json
  starter_ai_agents/ai_news_agent/services/network.js
  starter_ai_agents/ai_news_agent/utils/helpers.js
  starter_ai_agents/ai_news_agent/utils/logger.js
Due: validate-documentation, check-sensitive-files

NEW Multi Agent Demos: AI Realtor and AI Enterprise Orchestrator
  advanced_ai_agents/multi_agent_apps/agent_teams/enterprise_orchestrator_team/README.md
  advanced_ai_agents/multi_agent_apps/agent_teams/enterprise_orchestrator_team/__init__.py
  advanced_ai_agents/multi_agent_apps/agent_teams/enterprise_orchestrator_team/agent.py
  advanced_ai_agents/multi_agent_apps/agent_teams/enterprise_orchestrator_team/requirements.txt
  advanced_ai_agents/multi_agent_apps/ai_multiagent_realtor/README.md
  advanced_ai_agents/multi_agent_apps/ai_multiagent_realtor/ai_multiagent_realtor.py
  advanced_ai_agents/multi_agent_apps/ai_multiagent_realtor/requirements.txt
Due: validate-dependencies, validate-documentation, check-sensitive-files

feat: add AI Real Estate Agent Team and Enterprise MCP AI Agent Team
  advanced_ai_agents/multi_agent_apps/agent_teams/ai_real_estate_agent_team/README.md
  advanced_ai_agents/multi_agent_apps/agent_teams/ai_real_estate_agent_team/real_estate_agent_team.py
  advanced_ai_agents/multi_agent_apps/agent_teams/ai_real_estate_agent_team/requirements.txt
  ai_agent_framework_crash_course/google_adk_tutorials/1_starter_agent/README.md
  ai_agent_framework_crash_course/google_adk_tutorials/1_starter_agent/creative_writing_agent/.env.example
  ai_agent_framework_crash_course/google_adk_tutorials/1_starter_agent/creative_writing_agent/__init__.py
  ai_agent_framework_crash_course/google_adk_tutorials/1_starter_agent/creative_writing_agent/agent.py
  ai_agent_framework_crash_course/google_adk_tutorials/1_starter_agent/greeting_agent/agent.py
  ai_agent_framework_crash_course/google_adk_tutorials/2_model_agnostic_agent/2_1_openai_adk_agent/.env.example
  ai_agent_framework_crash_course/google_adk_tutorials/2_model_agnostic_agent/2_1_openai_adk_agent/__init__.py
  ai_agent_framework_crash_course/google_adk_tutorials/2_model_agnostic_agent/2_1_openai_adk_agent/agent.py
  ai_agent_framework_crash_course/google_adk_tutorials/2_model_agnostic_agent/2_2_anthropic_adk_agent/.env.example
  ai_agent_framework_crash_course/google_adk_tutorials/2_model_agnostic_agent/2_2_anthropic_adk_agent/__init__.py
  ai_agent_framework_crash_course/google_adk_tutorials/2_model_agnostic_agent/2_2_anthropic_adk_agent/agent.py
  ai_agent_framework_crash_course/google_adk_tutorials/2_model_agnostic_agent/README.md
  ai_agent_framework_crash_course/google_adk_tutorials/5_memory_agent/5_1_in_memory_conversation_agent/.env.example
  ai_agent_framework_crash_course/google_adk_tutorials/5_memory_agent/5_1_in_memory_conversation_agent/README.md
  ai_agent_framework_crash_course/google_adk_tutorials/5_memory_agent/5_1_in_memory_conversation_agent/agent.py
  ai_agent_framework_crash_course/google_adk_tutorials/5_memory_agent/5_1_in_memory_conversation_agent/app.py
  ai_agent_framework_crash_course/google_adk_tutorials/5_memory_agent/5_1_in_memory_conversation_agent/requirements.txt
  ai_agent_framework_crash_course/google_adk_tutorials/5_memory_agent/5_2_persistent_conversation_agent/.env.example
  ai_agent_framework_crash_course/google_adk_tutorials/5_memory_agent/5_2_persistent_conversation_agent/README.md
  ai_agent_framework_crash_course/google_adk_tutorials/5_memory_agent/5_2_persistent_conversation_agent/agent.py
  ai_agent_framework_crash_course/google_adk_tutorials/5_memory_agent/5_2_persistent_conversation_agent/app.py
  ai_agent_framework_crash_course/google_adk_tutorials/5_memory_agent/5_2_persistent_conversation_agent/requirements.txt
  ai_agent_framework_crash_course/google_adk_tutorials/5_memory_agent/README.md
  ai_agent_framework_crash_course/google_adk_tutorials/README.md
  mcp_ai_agents/enterprise_orchestrator_team/README.md
  mcp_ai_agents/enterprise_orchestrator_team/__init__.py
  mcp_ai_agents/enterprise_orchestrator_team/agent.py
  mcp_ai_agents/enterprise_orchestrator_team/requirements.txt
Due: validate-dependencies, validate-documentation, check-sensitive-files

refactor: update tutorial README files for consistency and clarity
  ai_agent_framework_crash_course/google_adk_crash_course/5_memory_agent/README.md
  ai_agent_framework_crash_course/google_adk_crash_course/6_callbacks/README.md
Due: validate-documentation

NEW Multi Agent Demos: AI Realtor Agent Team changes
  advanced_ai_agents/multi_agent_apps/agent_teams/ai_real_estate_agent_team/README.md
  advanced_ai_agents/multi_agent_apps/agent_teams/ai_real_estate_agent_team/__pycache__/ai_real_estate_agent_team.cpython-311.pyc
  advanced_ai_agents/multi_agent_apps/agent_teams/ai_real_estate_agent_team/ai_real_estate_agent_team.py
  advanced_ai_agents/multi_agent_apps/agent_teams/ai_real_estate_agent_team/local_ai_real_estate_agent_team.py
  advanced_ai_agents/multi_agent_apps/agent_teams/ai_real_estate_agent_team/real_estate_agent_team.py
  advanced_ai_agents/multi_agent_apps/ai_financial_coach_agent/ai_financial_coach_agent.py
  advanced_ai_agents/multi_agent_apps/ai_financial_coach_agent/requirements.txt
Due: validate-dependencies, validate-documentation, check-sensitive-files

Removed pycache
  advanced_ai_agents/multi_agent_apps/agent_teams/ai_real_estate_agent_team/__pycache__/ai_real_estate_agent_team.cpython-311.pyc
Due: check-sensitive-files

feat: add GPT-OSS Critique & Improvement Loop demo
  advanced_llm_apps/gpt_oss_critique_improvement_loop/README.md
  advanced_llm_apps/gpt_oss_critique_improvement_loop/requirements.txt
  advanced_llm_apps/gpt_oss_critique_improvement_loop/streamlit_app.py
  ai_agent_framework_crash_course/google_adk_crash_course/6_callbacks/6_3_tool_execution_callbacks/__pycache__/agent.cpython-311.pyc
Due: validate-dependencies, validate-documentation, check-sensitive-files

feat: Added a new tutorial on plugins, covering global callback management and practical examples for logging, monitoring, and request modification for google ADK crash course
  ai_agent_framework_crash_course/google_adk_crash_course/7_plugins/.env.example
  ai_agent_framework_crash_course/google_adk_crash_course/7_plugins/README.md
  ai_agent_framework_crash_course/google_adk_crash_course/7_plugins/agent.py
  ai_agent_framework_crash_course/google_adk_crash_course/7_plugins/app.py
  ai_agent_framework_crash_course/google_adk_crash_course/7_plugins/requirements.txt
  ai_agent_framework_crash_course/google_adk_crash_course/README.md
Due: validate-dependencies, validate-documentation, check-sensitive-files

need to close
  mcp_ai_agents/enterprise_orchestrator_team/README.md
  mcp_ai_agents/enterprise_orchestrator_team/__init__.py
  mcp_ai_agents/enterprise_orchestrator_team/agent.py
  mcp_ai_agents/enterprise_orchestrator_team/enterprise_orchestrator_agno.py
  mcp_ai_agents/enterprise_orchestrator_team/enterprise_orchestrator_terminal_agno.py
  mcp_ai_agents/enterprise_orchestrator_team/simple_test.py
  mcp_ai_agents/enterprise_orchestrator_team/test_mcp_agents.py
Due: validate-documentation, check-sensitive-files

feat: Introduce Agentic RAG application with GPT-5 and LanceDB
  rag_tutorials/agentic_rag_gpt5/README.md
  rag_tutorials/agentic_rag_gpt5/agentic_rag_gpt5.py
  rag_tutorials/agentic_rag_gpt5/requirements.txt
Due: validate-dependencies, validate-documentation, check-sensitive-files

feat: Remove Enterprise MCP AI Agent Team components
  mcp_ai_agents/enterprise_orchestrator_team/README.md
  mcp_ai_agents/enterprise_orchestrator_team/__init__.py
  mcp_ai_agents/enterprise_orchestrator_team/agent.py
  mcp_ai_agents/enterprise_orchestrator_team/requirements.txt
Due: validate-dependencies, validate-documentation, check-sensitive-files

Update agentic rag gpt5 README.md
  rag_tutorials/agentic_rag_gpt5/README.md
Due: validate-documentation

Update run_gui.py
  advanced_llm_apps/llm_for_algorithm_design/llm4ad_v1.0/GUI/run_gui.py
Due: check-sensitive-files

Update README.md
  README.md
Due: validate-documentation

feat: Add Simple Multi-Agent Researcher tutorial for google ADK course
  ai_agent_framework_crash_course/google_adk_crash_course/8_simple_multi_agent/README.md
  ai_agent_framework_crash_course/google_adk_crash_course/8_simple_multi_agent/multi_agent_researcher/.env.example
  ai_agent_framework_crash_course/google_adk_crash_course/8_simple_multi_agent/multi_agent_researcher/__init__.py
  ai_agent_framework_crash_course/google_adk_crash_course/8_simple_multi_agent/multi_agent_researcher/agent.py
  ai_agent_framework_crash_course/google_adk_crash_course/8_simple_multi_agent/requirements.txt
Due: validate-dependencies, validate-documentation, check-sensitive-files

feat: Introduce Sequential Agent tutorial for google ADK
  ai_agent_framework_crash_course/google_adk_crash_course/9_multi_agent_patterns/9_1_sequential_agent/.env.example
  ai_agent_framework_crash_course/google_adk_crash_course/9_multi_agent_patterns/9_1_sequential_agent/README.md
  ai_agent_framework_crash_course/google_adk_crash_course/9_multi_agent_patterns/9_1_sequential_agent/agent.py
  ai_agent_framework_crash_course/google_adk_crash_course/9_multi_agent_patterns/9_1_sequential_agent/app.py
  ai_agent_framework_crash_course/google_adk_crash_course/9_multi_agent_patterns/9_1_sequential_agent/requirements.txt
  ai_agent_framework_crash_course/google_adk_crash_course/README.md
Due: validate-dependencies, validate-documentation, check-sensitive-files

new one - ai gtm email
  advanced_ai_agents/single_agent_apps/ai_email_gtm_reachout_agent/README.md
  advanced_ai_agents/single_agent_apps/ai_email_gtm_reachout_agent/ai_email_gtm_reachout.py
  advanced_ai_agents/single_agent_apps/ai_email_gtm_reachout_agent/requirements.txt
  mcp_ai_agents/enterprise_orchestrator_team/README.md
  mcp_ai_agents/enterprise_orchestrator_team/__init__.py
  mcp_ai_agents/enterprise_orchestrator_team/agent.py
  mcp_ai_agents/enterprise_orchestrator_team/requirements.txt
Due: validate-dependencies, validate-documentation, check-sensitive-files

Email GTM B2B Agent and 9_2, 9_3 of google adk
  advanced_ai_agents/multi_agent_apps/ai_email_gtm_outreach_agent/README.md
  advanced_ai_agents/multi_agent_apps/ai_email_gtm_outreach_agent/ai_email_gtm_outreach_agent.py
  advanced_ai_agents/multi_agent_apps/ai_email_gtm_outreach_agent/requirements.txt
  ai_agent_framework_crash_course/google_adk_crash_course/9_multi_agent_patterns/9_1_sequential_agent/agent.py
  ai_agent_framework_crash_course/google_adk_crash_course/9_multi_agent_patterns/9_2_loop_agent/.env.example
  ai_agent_framework_crash_course/google_adk_crash_course/9_multi_agent_patterns/9_2_loop_agent/README.md
  ai_agent_framework_crash_course/google_adk_crash_course/9_multi_agent_patterns/9_2_loop_agent/agent.py
  ai_agent_framework_crash_course/google_adk_crash_course/9_multi_agent_patterns/9_2_loop_agent/app.py
  ai_agent_framework_crash_course/google_adk_crash_course/9_multi_agent_patterns/9_3_parallel_agent/.env.example
  ai_agent_framework_crash_course/google_adk_crash_course/9_multi_agent_patterns/9_3_parallel_agent/README.md
  ai_agent_framework_crash_course/google_adk_crash_course/9_multi_agent_patterns/9_3_parallel_agent/agent.py
  ai_agent_framework_crash_course/google_adk_crash_course/9_multi_agent_patterns/9_3_parallel_agent/app.py
  ai_agent_framework_crash_course/google_adk_crash_course/9_multi_agent_patterns/9_3_parallel_agent/requirements.txt
Due: validate-dependencies, validate-documentation, check-sensitive-files
