Repository Shubhamsaboo/awesome-llm-apps: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-dependencies, validate-documentation, check-sensitive-files

validate-dependencies:
  name: Validate Python dependencies
  entry: python scripts/pre_commit_dependency_validator.py
  language: python
  pass_filenames: true
  additional_dependencies:
  - packaging
  - requests

validate-documentation:
  name: Validate documentation standards
  entry: python scripts/pre_commit_doc_validator.py
  language: python
  pass_filenames: true

check-sensitive-files:
  name: Check for sensitive information
  entry: python scripts/pre_commit_sensitive_check.py
  language: python

Update README.md
  README.md
Due: validate-documentation

Added Dev Container Folder
  .devcontainer/devcontainer.json
Due: check-sensitive-files

Replace deep_research with search+scrape
  advanced_ai_agents/single_agent_apps/ai_deep_research_agent/deep_research_openai.py
Due: check-sensitive-files

wire OpenAI via env var and client, add usage test, remove provider stubs
  advanced_ai_agents/single_agent_apps/ai_deep_research_agent/deep_research_openai.py
  advanced_ai_agents/single_agent_apps/ai_deep_research_agent/requirements.txt
Due: validate-dependencies, check-sensitive-files

Deep research autopilot: query planner, open search mode, time window controls, ranking, strict citations
  advanced_ai_agents/single_agent_apps/ai_deep_research_agent/deep_research_openai.py
Due: check-sensitive-files

Deep research autopilot: query planner, open search mode, time window controls, ranking, strict citations
  advanced_ai_agents/single_agent_apps/ai_deep_research_agent/deep_research_openai.py
  requirements.txt
Due: validate-dependencies, check-sensitive-files

Deep research autopilot: query planner, open search mode, time window controls, ranking, strict citations
  advanced_ai_agents/single_agent_apps/ai_deep_research_agent/deep_research_openai.py
  advanced_ai_agents/single_agent_apps/ai_deep_research_agent/requirements.txt
Due: validate-dependencies, check-sensitive-files

Deep research autopilot: unique widget keys, OpenAI env/client, agent model, sanity ping, double-execution guard, button logic
  advanced_ai_agents/single_agent_apps/ai_deep_research_agent/deep_research_openai.py
Due: check-sensitive-files

Normalize Firecrawl search and scrape results for robust agent compatibility
  advanced_ai_agents/single_agent_apps/ai_deep_research_agent/deep_research_openai.py
Due: check-sensitive-files

Normalize all type annotations to use typing.List, Dict, Optional for Python 3.9+ compatibility
  advanced_ai_agents/single_agent_apps/ai_deep_research_agent/deep_research_openai.py
Due: check-sensitive-files

Deep Search API-first (no tests): Streamlit UI, diagnostics, Perplexity/Tavily/Firecrawl wrappers, docs, cost controls
  starter_ai_agents/opeani_research_agent/README.md
  starter_ai_agents/opeani_research_agent/openai_researcher_agent.py
  tools/fetch_firecrawl.py
  tools/search_perplexity.py
  tools/search_tavily.py
Due: validate-documentation, check-sensitive-files

Remove obsolete files from old opeani_research_agent folder after migration to openai_researcher_agent
  starter_ai_agents/opeani_research_agent/__init__.py
  starter_ai_agents/opeani_research_agent/openai_researcher_agent.py
  starter_ai_agents/opeani_research_agent/research_agent.py
  starter_ai_agents/openai_researcher_agent/__init__.py
  starter_ai_agents/openai_researcher_agent/openai_researcher_agent.py
  starter_ai_agents/openai_researcher_agent/requirements.txt
  starter_ai_agents/openai_researcher_agent/research_agent.py
  starter_ai_agents/openai_researcher_agent/tools/fetch_firecrawl.py
  starter_ai_agents/openai_researcher_agent/tools/search_perplexity.py
  starter_ai_agents/openai_researcher_agent/tools/search_tavily.py
Due: validate-dependencies, check-sensitive-files

Refactor opeani_research_agent: backend/UI separation, import cycle fix, and code cleanup
  starter_ai_agents/opeani_research_agent/__init__.py
  starter_ai_agents/opeani_research_agent/openai_researcher_agent.py
  starter_ai_agents/opeani_research_agent/research_agent.py
Due: check-sensitive-files

Update deep_research_openai.py: manual edits and improvements
  advanced_ai_agents/single_agent_apps/ai_deep_research_agent/deep_research_openai.py
  starter_ai_agents/openai_researcher_agent/__init__.py
  starter_ai_agents/openai_researcher_agent/openai_researcher_agent.py
  starter_ai_agents/openai_researcher_agent/requirements.txt
  starter_ai_agents/openai_researcher_agent/research_agent.py
  starter_ai_agents/openai_researcher_agent/tools/fetch_firecrawl.py
  starter_ai_agents/openai_researcher_agent/tools/search_perplexity.py
  starter_ai_agents/openai_researcher_agent/tools/search_tavily.py
Due: validate-dependencies, check-sensitive-files

Fix Firecrawl deep_research + Streamlit Cloud deploy: update Firecrawl usage, secrets preload, version display, requirements, runtime, config, changelog
  .streamlit/config.toml
  CHANGELOG.md
  advanced_ai_agents/single_agent_apps/ai_deep_research_agent/deep_research_openai.py
  requirements.txt
  runtime.txt
Due: validate-dependencies, check-sensitive-files

Update requirements.txt for ai_deep_research_agent: manual dependency edits
  advanced_ai_agents/single_agent_apps/ai_deep_research_agent/requirements.txt
Due: validate-dependencies, check-sensitive-files

Fix Firecrawl deep research: SDK/REST fallback, error handling, requirements cleanup
  advanced_ai_agents/single_agent_apps/ai_deep_research_agent/deep_research_openai.py
Due: check-sensitive-files

new ai agent researcher
  advanced_ai_agents/single_agent_apps/ai_deep_research_agent/requirements.txt
Due: validate-dependencies, check-sensitive-files

Remove Firecrawl SDK, use REST API only for deep research, update requirements, add debug caption
  advanced_ai_agents/single_agent_apps/ai_deep_research_agent/deep_research_openai.py
  advanced_ai_agents/single_agent_apps/ai_deep_research_agent/requirements.txt
Due: validate-dependencies, check-sensitive-files

added chat history and also the model accepts the follow up questions from the user
  starter_ai_agents/ai_data_analysis_agent/ai_data_analyst.py
Due: check-sensitive-files

multi-agent-graph
  advanced_ai_agents/multi-gen-agent/.gitignore
  advanced_ai_agents/multi-gen-agent/.langgraph_api/.langgraph_checkpoint.1.pckl
  advanced_ai_agents/multi-gen-agent/.langgraph_api/.langgraph_checkpoint.2.pckl
  advanced_ai_agents/multi-gen-agent/.langgraph_api/.langgraph_checkpoint.3.pckl
  advanced_ai_agents/multi-gen-agent/.langgraph_api/.langgraph_ops.pckl
  advanced_ai_agents/multi-gen-agent/.langgraph_api/.langgraph_retry_counter.pckl
  advanced_ai_agents/multi-gen-agent/.langgraph_api/store.pckl
  advanced_ai_agents/multi-gen-agent/.langgraph_api/store.vectors.pckl
  advanced_ai_agents/multi-gen-agent/.python-version
  advanced_ai_agents/multi-gen-agent/README.md
  advanced_ai_agents/multi-gen-agent/graph.png
  advanced_ai_agents/multi-gen-agent/langgraph.json
  advanced_ai_agents/multi-gen-agent/pyproject.toml
  advanced_ai_agents/multi-gen-agent/src/imageagents/__init__.py
  advanced_ai_agents/multi-gen-agent/src/imageagents/graph.py
  advanced_ai_agents/multi-gen-agent/src/imageagents/models.py
  advanced_ai_agents/multi-gen-agent/src/imageagents/prompts.py
  advanced_ai_agents/multi-gen-agent/src/imageagents/state.py
  advanced_ai_agents/multi-gen-agent/test.py
  advanced_ai_agents/multi-gen-agent/uv.lock
Due: validate-documentation, check-sensitive-files

feat: YAML Based Multi-Agent Web Research Agent with Firecrawl MCP (low-code)
  ai_agent_framework_crash_course/google_adk_crash_course/adk_yaml_examples/multi_agent_web_research_team/README.md
  ai_agent_framework_crash_course/google_adk_crash_course/adk_yaml_examples/multi_agent_web_research_team/multi_agent_web_researcher/.env.example
  ai_agent_framework_crash_course/google_adk_crash_course/adk_yaml_examples/multi_agent_web_research_team/multi_agent_web_researcher/__init__.py
  ai_agent_framework_crash_course/google_adk_crash_course/adk_yaml_examples/multi_agent_web_research_team/multi_agent_web_researcher/research_agent.yaml
  ai_agent_framework_crash_course/google_adk_crash_course/adk_yaml_examples/multi_agent_web_research_team/multi_agent_web_researcher/root_agent.yaml
  ai_agent_framework_crash_course/google_adk_crash_course/adk_yaml_examples/multi_agent_web_research_team/multi_agent_web_researcher/summary_agent.yaml
  ai_agent_framework_crash_course/google_adk_crash_course/adk_yaml_examples/multi_agent_web_research_team/requirements.txt
Due: validate-dependencies, validate-documentation, check-sensitive-files

docs: Update README for Multi-Agent Web Research System to clarify YAML-based implementation
  ai_agent_framework_crash_course/google_adk_crash_course/adk_yaml_examples/multi_agent_web_research_team/README.md
Due: validate-documentation

chore: README cleanup
  README.md
Due: validate-documentation

Add AI Life Insurance Advisor Agent app
  advanced_ai_agents/single_agent_apps/ai_life_insurance_advisor/README.md
  advanced_ai_agents/single_agent_apps/ai_life_insurance_advisor/life_insurance_advisor.py
  advanced_ai_agents/single_agent_apps/ai_life_insurance_advisor/requirements.txt
Due: validate-dependencies, validate-documentation, check-sensitive-files

Path conditions:
  validate-dependencies: any of: requirements\.txt$, but not: (?x)^(
  \.git/|
  \.github/|
  __pycache__/|
  \.mypy_cache/|
  \.pytest_cache/|
  node_modules/|
  venv/|
  \.env
)

  validate-documentation: any of: README\.md$, but not: (?x)^(
  \.git/|
  \.github/|
  __pycache__/|
  \.mypy_cache/|
  \.pytest_cache/|
  node_modules/|
  venv/|
  \.env
)

  check-sensitive-files: any of: not (^(\.git|__pycache__|\.env\.example|.*\.md)$), but not: (?x)^(
  \.git/|
  \.github/|
  __pycache__/|
  \.mypy_cache/|
  \.pytest_cache/|
  node_modules/|
  venv/|
  \.env
)

