Repository Shubhamsaboo/awesome-llm-apps: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-dependencies, validate-documentation, check-sensitive-files

.pre-commit-config.yaml:

# Pre-commit hooks for awesome-llm-apps
# Install with: pip install pre-commit && pre-commit install

repos:
  # Python code quality
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.4
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # Python type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.9.0
    hooks:
      - id: mypy
        args: [--ignore-missing-imports, --no-strict-optional]
        additional_dependencies: [types-requests]

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.8
    hooks:
      - id: bandit
        args: [-ll, -i, -x, "tests/*,test_*.py"]

  # Markdown formatting
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.17
    hooks:
      - id: mdformat
        additional_dependencies:
          - mdformat-gfm
          - mdformat-frontmatter

  # YAML formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-json
      - id: pretty-format-json
        args: [--autofix, --no-sort-keys]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Custom dependency validation hook
  - repo: local
    hooks:
      - id: validate-dependencies
        name: Validate Python dependencies
        entry: python scripts/pre_commit_dependency_validator.py
        language: python
        files: requirements\.txt$
        pass_filenames: true
        additional_dependencies: [packaging, requests]

      - id: validate-documentation
        name: Validate documentation standards
        entry: python scripts/pre_commit_doc_validator.py
        language: python
        files: README\.md$
        pass_filenames: true

      - id: check-sensitive-files
        name: Check for sensitive information
        entry: python scripts/pre_commit_sensitive_check.py
        language: python
        types: [text]
        exclude: ^(\.git|__pycache__|\.env\.example|.*\.md)$

# Configuration for specific hooks
exclude: |
  (?x)^(
    \.git/|
    \.github/|
    __pycache__/|
    \.mypy_cache/|
    \.pytest_cache/|
    node_modules/|
    venv/|
    \.env
  )

# Global configurations
default_language_version:
  python: python3.12

ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: [mypy]  # Skip mypy in CI as it's handled separately

refactor: Update local RAG agent to use AgentOS and enhance knowledge management
  rag_tutorials/local_rag_agent/README.md
  rag_tutorials/local_rag_agent/local_rag_agent.py
  rag_tutorials/local_rag_agent/requirements.txt
Due: validate-dependencies, validate-documentation, check-sensitive-files

refactor: Update qwen_local_rag_agent to use Agno v2.0 and enhance README
  rag_tutorials/qwen_local_rag/README.md
  rag_tutorials/qwen_local_rag/qwen_local_rag_agent.py
  rag_tutorials/qwen_local_rag/requirements.txt
Due: validate-dependencies, validate-documentation, check-sensitive-files

refactor: Update vision_rag.py to use the latest Gemini model
  rag_tutorials/vision_rag/vision_rag.py
Due: check-sensitive-files

refactor: Update RAGPipeline to use Claude 4.5 Sonnet for response generation
  rag_tutorials/rag-as-a-service/rag_app.py
Due: check-sensitive-files

refactor: Update corrective_rag to use Claude 4.5 Sonnet for LLM functionality
  rag_tutorials/corrective_rag/README.md
  rag_tutorials/corrective_rag/corrective_rag.py
Due: validate-documentation, check-sensitive-files

refactor: Update travel planner and GitHub agent to use RunOutput and enhance requirements
  mcp_ai_agents/ai_travel_planner_mcp_agent_team/app.py
  mcp_ai_agents/ai_travel_planner_mcp_agent_team/requirements.txt
  mcp_ai_agents/github_mcp_agent/github_agent.py
  mcp_ai_agents/github_mcp_agent/requirements.txt
Due: validate-dependencies, check-sensitive-files

refactor: Enhance multi_mcp_agent with SQLite database integration and update requirements
  mcp_ai_agents/multi_mcp_agent/multi_mcp_agent.py
  mcp_ai_agents/multi_mcp_agent/requirements.txt
  mcp_ai_agents/notion_mcp_agent/README.md
  mcp_ai_agents/notion_mcp_agent/notion_mcp_agent.py
  mcp_ai_agents/notion_mcp_agent/requirements.txt
  mcp_ai_agents/react_native_agent/mcp_server.py
  mcp_ai_agents/react_native_agent/native.py
  mcp_ai_agents/react_native_agent/readme.md
Due: validate-dependencies, validate-documentation, check-sensitive-files

refactor: Update AI agents to use RunOutput and specify agno version
  advanced_ai_agents/autonomous_game_playing_agent_apps/ai_3dpygame_r1/ai_3dpygame_r1.py
  advanced_ai_agents/autonomous_game_playing_agent_apps/ai_3dpygame_r1/requirements.txt
  advanced_ai_agents/autonomous_game_playing_agent_apps/ai_tic_tac_toe_agent/app.py
  advanced_ai_agents/autonomous_game_playing_agent_apps/ai_tic_tac_toe_agent/requirements.txt
Due: validate-dependencies, check-sensitive-files

refactor: Update AI agents to use RunOutput and specify agno version
  advanced_ai_agents/single_agent_apps/ai_health_fitness_agent/health_agent.py
  advanced_ai_agents/single_agent_apps/ai_health_fitness_agent/requirements.txt
  advanced_ai_agents/single_agent_apps/ai_investment_agent/investment_agent.py
  advanced_ai_agents/single_agent_apps/ai_investment_agent/requirements.txt
  advanced_ai_agents/single_agent_apps/ai_journalist_agent/journalist_agent.py
  advanced_ai_agents/single_agent_apps/ai_journalist_agent/requirements.txt
  advanced_ai_agents/single_agent_apps/ai_lead_generation_agent/ai_lead_generation_agent.py
  advanced_ai_agents/single_agent_apps/ai_lead_generation_agent/requirements.txt
  advanced_ai_agents/single_agent_apps/ai_movie_production_agent/movie_production_agent.py
  advanced_ai_agents/single_agent_apps/ai_personal_finance_agent/finance_agent.py
  advanced_ai_agents/single_agent_apps/ai_personal_finance_agent/requirements.txt
  advanced_ai_agents/single_agent_apps/ai_recipe_meal_planning_agent/ai_recipe_meal_planning_agent.py
  advanced_ai_agents/single_agent_apps/ai_recipe_meal_planning_agent/requirements.txt
  advanced_ai_agents/single_agent_apps/ai_startup_insight_fire1_agent/ai_startup_insight_fire1_agent.py
  advanced_ai_agents/single_agent_apps/ai_startup_insight_fire1_agent/requirements.txt
  advanced_ai_agents/single_agent_apps/ai_system_architect_r1/ai_system_architect_r1.py
  advanced_ai_agents/single_agent_apps/ai_system_architect_r1/requirements.txt
Due: validate-dependencies, check-sensitive-files

refactor: Update AI agents to use RunOutput and specify agno version
  advanced_ai_agents/multi_agent_apps/ai_aqi_analysis_agent/ai_aqi_analysis_agent_gradio.py
  advanced_ai_agents/multi_agent_apps/ai_aqi_analysis_agent/ai_aqi_analysis_agent_streamlit.py
  advanced_ai_agents/multi_agent_apps/ai_aqi_analysis_agent/requirements.txt
  advanced_ai_agents/multi_agent_apps/ai_domain_deep_research_agent/ai_domain_deep_research_agent.py
  advanced_ai_agents/multi_agent_apps/ai_domain_deep_research_agent/requirements.txt
  advanced_ai_agents/multi_agent_apps/ai_email_gtm_outreach_agent/ai_email_gtm_outreach_agent.py
  advanced_ai_agents/multi_agent_apps/ai_email_gtm_outreach_agent/requirements.txt
  advanced_ai_agents/multi_agent_apps/multi_agent_researcher/requirements.txt
  advanced_ai_agents/multi_agent_apps/multi_agent_researcher/research_agent.py
  advanced_ai_agents/multi_agent_apps/multi_agent_researcher/research_agent_llama3.py
  advanced_ai_agents/multi_agent_apps/product_launch_intelligence_agent/product_launch_intelligence_agent.py
  advanced_ai_agents/multi_agent_apps/product_launch_intelligence_agent/requirements.txt
Due: validate-dependencies, check-sensitive-files

refactor: Enhance AI agents with ExaTools integration and update requirements
  advanced_ai_agents/multi_agent_apps/agent_teams/ai_competitor_intelligence_agent_team/competitor_agent_team.py
  advanced_ai_agents/multi_agent_apps/agent_teams/ai_competitor_intelligence_agent_team/requirements.txt
  advanced_ai_agents/multi_agent_apps/agent_teams/ai_finance_agent_team/finance_agent_team.py
  advanced_ai_agents/multi_agent_apps/agent_teams/ai_finance_agent_team/requirements.txt
  advanced_ai_agents/single_agent_apps/ai_movie_production_agent/movie_production_agent.py
  advanced_ai_agents/single_agent_apps/ai_movie_production_agent/requirements.txt
Due: validate-dependencies, check-sensitive-files

refactor: Update legal agent team to use new knowledge base structure and improve response handling
  advanced_ai_agents/multi_agent_apps/agent_teams/ai_legal_agent_team/legal_agent_team.py
  advanced_ai_agents/multi_agent_apps/agent_teams/ai_legal_agent_team/local_ai_legal_agent_team/local_legal_agent.py
  advanced_ai_agents/multi_agent_apps/agent_teams/ai_legal_agent_team/local_ai_legal_agent_team/requirements.txt
  advanced_ai_agents/multi_agent_apps/agent_teams/ai_legal_agent_team/requirements.txt
Due: validate-dependencies, check-sensitive-files

refactor: Update AI real estate and recruitment agent teams to use RunOutput for type safety
  advanced_ai_agents/multi_agent_apps/agent_teams/ai_real_estate_agent_team/ai_real_estate_agent_team.py
  advanced_ai_agents/multi_agent_apps/agent_teams/ai_real_estate_agent_team/local_ai_real_estate_agent_team.py
  advanced_ai_agents/multi_agent_apps/agent_teams/ai_real_estate_agent_team/requirements.txt
  advanced_ai_agents/multi_agent_apps/agent_teams/ai_recruitment_agent_team/ai_recruitment_agent_team.py
  advanced_ai_agents/multi_agent_apps/agent_teams/ai_recruitment_agent_team/requirements.txt
  advanced_ai_agents/multi_agent_apps/agent_teams/ai_teaching_agent_team/requirements.txt
  advanced_ai_agents/multi_agent_apps/agent_teams/ai_teaching_agent_team/teaching_agent_team.py
  advanced_ai_agents/multi_agent_apps/agent_teams/multimodal_coding_agent_team/ai_coding_agent_o3.py
Due: validate-dependencies, check-sensitive-files

refactor: Update multimodal agent teams to use RunOutput and specify agno version
  advanced_ai_agents/multi_agent_apps/agent_teams/multimodal_coding_agent_team/requirements.txt
  advanced_ai_agents/multi_agent_apps/agent_teams/multimodal_design_agent_team/design_agent_team.py
  advanced_ai_agents/multi_agent_apps/agent_teams/multimodal_design_agent_team/requirements.txt
Due: validate-dependencies, check-sensitive-files

chore: Remove AI Lead Generation Agent files and documentation
  advanced_ai_agents/single_agent_apps/ai_lead_generation_agent/README.md
  advanced_ai_agents/single_agent_apps/ai_lead_generation_agent/ai_lead_generation_agent.py
  advanced_ai_agents/single_agent_apps/ai_lead_generation_agent/requirements.txt
Due: validate-dependencies, validate-documentation, check-sensitive-files

chore: Remove AI Lead Generation Agent from README documentation
  README.md
Due: validate-documentation

refactor: Update YouTube transcript fetching logic and enhance error handling
  .gitignore
  advanced_llm_apps/chat_with_X_tutorials/chat_with_youtube_videos/FIX_SUMMARY.md
  advanced_llm_apps/chat_with_X_tutorials/chat_with_youtube_videos/chat_youtube.py
Due: check-sensitive-files

refactor: Enhance session state management and add testing script for improvements
  advanced_llm_apps/chat_with_X_tutorials/chat_with_youtube_videos/chat_youtube.py
  advanced_llm_apps/chat_with_X_tutorials/chat_with_youtube_videos/test_session_state.py
Due: check-sensitive-files

Delete .gitignore
  .gitignore
Due: check-sensitive-files

feat: Comprehensive code quality improvements and security fixes
  .github/workflows/ci.yml
  .github/workflows/security.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  advanced_ai_agents/multi_agent_apps/ai_news_and_podcast_agents/beifong/scheduler.py
  advanced_ai_agents/multi_agent_apps/ai_news_and_podcast_agents/beifong/tests/tts_kokoro_test.py
  advanced_ai_agents/single_agent_apps/windows_use_autonomous_agent/windows_use/desktop/__init__.py
  ai_agent_framework_crash_course/google_adk_crash_course/4_tool_using_agent/4_2_function_tools/calculator_agent/tools.py
  docs/CODE_QUALITY_IMPROVEMENTS.md
  pyproject.toml
  pytest.ini
  requirements-dev.txt
  shared_utils/README.md
  shared_utils/__init__.py
  shared_utils/config.py
  shared_utils/errors.py
  shared_utils/llm_clients.py
  shared_utils/logging_config.py
  tests/__init__.py
  tests/conftest.py
  tests/test_calculator_agent.py
  tests/test_security.py
Due: validate-documentation, check-sensitive-files

Update README to clarify testing instructions for OpenAI and Anthropic agents
  ai_agent_framework_crash_course/google_adk_crash_course/2_model_agnostic_agent/README.md
Due: validate-documentation
