Repository Shubhamsaboo/awesome-llm-apps: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-dependencies, validate-documentation, check-sensitive-files

validate-dependencies:
  name: Validate Python dependencies
  entry: python scripts/pre_commit_dependency_validator.py
  language: python
  pass_filenames: true
  additional_dependencies:
  - packaging
  - requests

validate-documentation:
  name: Validate documentation standards
  entry: python scripts/pre_commit_doc_validator.py
  language: python
  pass_filenames: true

check-sensitive-files:
  name: Check for sensitive information
  entry: python scripts/pre_commit_sensitive_check.py
  language: python

refactor: Enhance SEO audit agent instructions with detailed steps for URL extraction, data scraping, and report generation
  advanced_ai_agents/multi_agent_apps/agent_teams/ai_seo_audit_team/agent.py
Due: check-sensitive-files

fix:ai_data_analysis_agent的问题
  starter_ai_agents/ai_data_analysis_agent/ai_data_analyst.py
Due: check-sensitive-files

fix: resolve pylance type errors in vision_rag.py
  rag_tutorials/vision_rag/vision_rag.py
Due: check-sensitive-files

chore: Update sponsor section in README
  README.md
  docs/banner/sponsors/okara.png
  docs/banner/sponsors/parlant.png
Due: validate-documentation, check-sensitive-files

chore: pin dependencies and update LangChain import for compatibility
  voice_ai_agents/voice_rag_openaisdk/rag_voice.py
  voice_ai_agents/voice_rag_openaisdk/requirements.txt
Due: validate-dependencies, check-sensitive-files

fix:ai_breakup_recovery_agent readme run command
  starter_ai_agents/ai_breakup_recovery_agent/README.md
Due: validate-documentation

fix: Resolve critical bugs and add comprehensive documentation
  CONTRIBUTING.md
  EXAMPLE_ENHANCED_AGENT.py
  FIXES.md
  IMPROVEMENTS_SUMMARY.md
  QUICK_START.md
  RELEASE_NOTES.md
  TROUBLESHOOTING.md
  advanced_ai_agents/multi_agent_apps/agent_teams/ai_finance_agent_team/finance_agent_team.py
  advanced_ai_agents/multi_agent_apps/agent_teams/ai_legal_agent_team/legal_agent_team.py
  advanced_ai_agents/multi_agent_apps/agent_teams/ai_legal_agent_team/local_ai_legal_agent_team/local_legal_agent.py
  advanced_ai_agents/single_agent_apps/ai_journalist_agent/journalist_agent.py
  advanced_ai_agents/single_agent_apps/ai_movie_production_agent/movie_production_agent.py
  desktop.ini
Due: check-sensitive-files

feat: Revamp Blog to Podcast Agent with improved API key handling and audio generation
  starter_ai_agents/ai_blog_to_podcast_agent/blog_to_podcast_agent.py
  starter_ai_agents/ai_blog_to_podcast_agent/requirements.txt
Due: validate-dependencies, check-sensitive-files

fix: Update function parameter names for clarity and improve README instructions
  starter_ai_agents/ai_breakup_recovery_agent/README.md
  starter_ai_agents/ai_breakup_recovery_agent/ai_breakup_recovery_agent.py
  starter_ai_agents/ai_breakup_recovery_agent/requirements.txt
Due: validate-dependencies, validate-documentation, check-sensitive-files

refactor: Update AI Data Analyst Agent to use DuckDbTools and streamline query handling
  starter_ai_agents/ai_data_analysis_agent/ai_data_analyst.py
  starter_ai_agents/ai_data_analysis_agent/requirements.txt
Due: validate-dependencies, check-sensitive-files

feat: Update AI Medical Imaging Agent to use new model and enhance output handling
  starter_ai_agents/ai_medical_imaging_agent/ai_medical_imaging.py
  starter_ai_agents/ai_medical_imaging_agent/requirements.txt
Due: validate-dependencies, check-sensitive-files

fix: Update music generator agent to use new output type and adjust requirements
  starter_ai_agents/ai_music_generator_agent/music_generator_agent.py
  starter_ai_agents/ai_music_generator_agent/requirements.txt
Due: validate-dependencies, check-sensitive-files

fix: Update AI Startup Trend Analysis Agent to use new model
  starter_ai_agents/ai_data_analysis_agent/requirements.txt
  starter_ai_agents/ai_startup_trend_analysis_agent/requirements.txt
  starter_ai_agents/ai_startup_trend_analysis_agent/startup_trends_agent.py
Due: validate-dependencies, check-sensitive-files

chore: Remove multimodal AI agent demo file as part of project cleanup
  starter_ai_agents/gemini_multimodal_agent_demo/multimodal_ai_agent.py
Due: check-sensitive-files

fix: Update local travel agent to use new output type and adjust context handling
  starter_ai_agents/ai_travel_agent/local_travel_agent.py
  starter_ai_agents/ai_travel_agent/requirements.txt
  starter_ai_agents/ai_travel_agent/travel_agent.py
Due: validate-dependencies, check-sensitive-files

chore: Remove local news agent files as part of project cleanup
  README.md
  starter_ai_agents/local_news_agent_openai_swarm/.env
  starter_ai_agents/local_news_agent_openai_swarm/README.md
  starter_ai_agents/local_news_agent_openai_swarm/news_agent.py
  starter_ai_agents/local_news_agent_openai_swarm/requirements.txt
Due: validate-dependencies, validate-documentation, check-sensitive-files

feat: Enhance multimodal AI agent with improved API key handling and model updates
  starter_ai_agents/multimodal_ai_agent/README.md
  starter_ai_agents/multimodal_ai_agent/multimodal_reasoning_agent.py
  starter_ai_agents/multimodal_ai_agent/mutimodal_agent.py
  starter_ai_agents/multimodal_ai_agent/requirements.txt
Due: validate-dependencies, validate-documentation, check-sensitive-files

fix: Update AI Scrapper to utilize new OpenAI models in the selection interface and README
  starter_ai_agents/web_scrapping_ai_agent/README.md
  starter_ai_agents/web_scrapping_ai_agent/ai_scrapper.py
Due: validate-documentation, check-sensitive-files

fix: Update XAI Finance Agent to use new AgentOS and enable debug mode
  starter_ai_agents/xai_finance_agent/requirements.txt
  starter_ai_agents/xai_finance_agent/xai_finance_agent.py
Due: validate-dependencies, check-sensitive-files

feat: Add XAI Finance Agent with IBKR portfolio integration and automated alerts
  starter_ai_agents/xai_finance_agent/.env.example
  starter_ai_agents/xai_finance_agent/README_IBKR.md
  starter_ai_agents/xai_finance_agent/SETUP_GUIDE.md
  starter_ai_agents/xai_finance_agent/ibkr_monitor.py
  starter_ai_agents/xai_finance_agent/ibkr_tools.py
  starter_ai_agents/xai_finance_agent/notifications.py
  starter_ai_agents/xai_finance_agent/quick_start.py
  starter_ai_agents/xai_finance_agent/requirements_ibkr.txt
  starter_ai_agents/xai_finance_agent/xai_finance_agent_ibkr.py
Due: check-sensitive-files

refactor: Update agentic_rag_embedding_gemma to use new Knowledge class and improve URL handling
  rag_tutorials/agentic_rag_embedding_gemma/agentic_rag_embeddinggemma.py
  rag_tutorials/agentic_rag_embedding_gemma/requirements.txt
Due: validate-dependencies, check-sensitive-files

refactor: Update agentic_rag_gpt5 to use new Knowledge class and improve URL management
  rag_tutorials/agentic_rag_gpt5/README.md
  rag_tutorials/agentic_rag_gpt5/agentic_rag_gpt5.py
  rag_tutorials/agentic_rag_gpt5/requirements.txt
Due: validate-dependencies, validate-documentation, check-sensitive-files

refactor: Update rag_reasoning_agent to use Google Gemini and enhance knowledge management
  rag_tutorials/agentic_rag_with_reasoning/README.md
  rag_tutorials/agentic_rag_with_reasoning/rag_reasoning_agent.py
  rag_tutorials/agentic_rag_with_reasoning/requirements.txt
Due: validate-dependencies, validate-documentation, check-sensitive-files

Path conditions:
  validate-dependencies: any of: requirements\.txt$, but not: (?x)^(
  \.git/|
  \.github/|
  __pycache__/|
  \.mypy_cache/|
  \.pytest_cache/|
  node_modules/|
  venv/|
  \.env
)

  validate-documentation: any of: README\.md$, but not: (?x)^(
  \.git/|
  \.github/|
  __pycache__/|
  \.mypy_cache/|
  \.pytest_cache/|
  node_modules/|
  venv/|
  \.env
)

  check-sensitive-files: any of: not (^(\.git|__pycache__|\.env\.example|.*\.md)$), but not: (?x)^(
  \.git/|
  \.github/|
  __pycache__/|
  \.mypy_cache/|
  \.pytest_cache/|
  node_modules/|
  venv/|
  \.env
)

