Repository Shubhamsaboo/awesome-llm-apps: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-dependencies, validate-documentation, check-sensitive-files

.pre-commit-config.yaml:

# Pre-commit hooks for awesome-llm-apps
# Install with: pip install pre-commit && pre-commit install

repos:
  # Python code quality
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.4
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # Python type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.9.0
    hooks:
      - id: mypy
        args: [--ignore-missing-imports, --no-strict-optional]
        additional_dependencies: [types-requests]

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.8
    hooks:
      - id: bandit
        args: [-ll, -i, -x, "tests/*,test_*.py"]

  # Markdown formatting
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.17
    hooks:
      - id: mdformat
        additional_dependencies:
          - mdformat-gfm
          - mdformat-frontmatter

  # YAML formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-json
      - id: pretty-format-json
        args: [--autofix, --no-sort-keys]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Custom dependency validation hook
  - repo: local
    hooks:
      - id: validate-dependencies
        name: Validate Python dependencies
        entry: python scripts/pre_commit_dependency_validator.py
        language: python
        files: requirements\.txt$
        pass_filenames: true
        additional_dependencies: [packaging, requests]

      - id: validate-documentation
        name: Validate documentation standards
        entry: python scripts/pre_commit_doc_validator.py
        language: python
        files: README\.md$
        pass_filenames: true

      - id: check-sensitive-files
        name: Check for sensitive information
        entry: python scripts/pre_commit_sensitive_check.py
        language: python
        types: [text]
        exclude: ^(\.git|__pycache__|\.env\.example|.*\.md)$

# Configuration for specific hooks
exclude: |
  (?x)^(
    \.git/|
    \.github/|
    __pycache__/|
    \.mypy_cache/|
    \.pytest_cache/|
    node_modules/|
    venv/|
    \.env
  )

# Global configurations
default_language_version:
  python: python3.12

ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: [mypy]  # Skip mypy in CI as it's handled separately

feat: Add Loop and Parallel Agent tutorials to Google ADK crash course
  ai_agent_framework_crash_course/google_adk_crash_course/README.md
Due: validate-documentation

docs(readme): add brand header, banner, and CTAs
  README.md
  assets/banner.png
Due: validate-documentation, check-sensitive-files

feat: Implement AI Recipe & Meal Planning Agent with recipe search, nutrition analysis, cost estimation, and meal planning features
  advanced_ai_agents/single_agent_apps/ai_recipe_meal_planning_agent/README.md
  advanced_ai_agents/single_agent_apps/ai_recipe_meal_planning_agent/ai_recipe_meal_planning_agent.py
  advanced_ai_agents/single_agent_apps/ai_recipe_meal_planning_agent/requirements.txt
Due: validate-dependencies, validate-documentation, check-sensitive-files

feat: Update calculate_percentage function to include additional return type for enhanced output
  ai_agent_framework_crash_course/google_adk_crash_course/4_tool_using_agent/4_2_function_tools/calculator_agent/tools.py
Due: check-sensitive-files

feat: Update calculate_statistics function to include list of numbers in return type
  ai_agent_framework_crash_course/google_adk_crash_course/4_tool_using_agent/4_2_function_tools/calculator_agent/tools.py
Due: check-sensitive-files

Update README.md
  README.md
Due: validate-documentation

Update description to include 'cutting-edge'
  README.md
Due: validate-documentation

Add Project AI WebQA Agent
  README.md
  advanced_ai_agents/single_agent_apps/ai_webqa_agent/README.md
  advanced_ai_agents/single_agent_apps/ai_webqa_agent/config/config.yaml.example
  advanced_ai_agents/single_agent_apps/ai_webqa_agent/docker-compose.yml
  advanced_ai_agents/single_agent_apps/ai_webqa_agent/start.sh
Due: validate-documentation, check-sensitive-files

feat: Add sponsor section to README.md with links and images
  README.md
Due: validate-documentation

feat: Add sponsor images for awesome LLM apps and unblocked
  docs/banner/sponsor_awesome_llm_apps.png
  docs/banner/sponsors/unblocked.png
Due: check-sensitive-files

Change sponsor text to 'Become a Sponsor'
  README.md
Due: validate-documentation

added the native server
  mcp_ai_agents/react_native_agent/README.md
  mcp_ai_agents/react_native_agent/main.py
  mcp_ai_agents/react_native_agent/mcp_server.py
  mcp_ai_agents/react_native_agent/native.py
  mcp_ai_agents/react_native_agent/requirements.txt
  mcp_ai_agents/react_native_agent/uv.lock
Due: validate-dependencies, validate-documentation, check-sensitive-files

Delete mcp_ai_agents/react_native_agent/requirements.txt
  mcp_ai_agents/react_native_agent/requirements.txt
Due: validate-dependencies, check-sensitive-files

Delete mcp_ai_agents/react_native_agent/uv.lock
  mcp_ai_agents/react_native_agent/uv.lock
Due: check-sensitive-files

Delete mcp_ai_agents/react_native_agent/main.py
  mcp_ai_agents/react_native_agent/main.py
Due: check-sensitive-files

swapping to playwright MCP server, updating demo flow
  mcp_ai_agents/browser_mcp_agent/README.md
  mcp_ai_agents/browser_mcp_agent/main.py
  mcp_ai_agents/browser_mcp_agent/mcp_agent.config.yaml
Due: validate-documentation, check-sensitive-files

Updating README demo video
  mcp_ai_agents/browser_mcp_agent/README.md
Due: validate-documentation

updated readme
  mcp_ai_agents/react_native_agent/README.md
Due: validate-documentation

updated readme
  mcp_ai_agents/react_native_agent/readme.md
Due: none

Add Project: Dingo A Comprehensive AI Data Quality Evaluation Tool
  README.md
  rag_tutorials/dingo_data_quality_evaluation/QUICKSTART.md
  rag_tutorials/dingo_data_quality_evaluation/README.md
  rag_tutorials/dingo_data_quality_evaluation/asset/data_input.png
  rag_tutorials/dingo_data_quality_evaluation/asset/evaluation_results.png
  rag_tutorials/dingo_data_quality_evaluation/asset/quality_insights.png
  rag_tutorials/dingo_data_quality_evaluation/dingo_quality_assessment.py
  rag_tutorials/dingo_data_quality_evaluation/requirements.txt
  rag_tutorials/dingo_data_quality_evaluation/sample_data.jsonl
Due: validate-dependencies, validate-documentation, check-sensitive-files
