Repository Shubhamsaboo/awesome-llm-apps: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-dependencies, validate-documentation, check-sensitive-files

.pre-commit-config.yaml:

# Pre-commit hooks for awesome-llm-apps
# Install with: pip install pre-commit && pre-commit install

repos:
  # Python code quality
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.4
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # Python type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.9.0
    hooks:
      - id: mypy
        args: [--ignore-missing-imports, --no-strict-optional]
        additional_dependencies: [types-requests]

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.8
    hooks:
      - id: bandit
        args: [-ll, -i, -x, "tests/*,test_*.py"]

  # Markdown formatting
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.17
    hooks:
      - id: mdformat
        additional_dependencies:
          - mdformat-gfm
          - mdformat-frontmatter

  # YAML formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-json
      - id: pretty-format-json
        args: [--autofix, --no-sort-keys]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Custom dependency validation hook
  - repo: local
    hooks:
      - id: validate-dependencies
        name: Validate Python dependencies
        entry: python scripts/pre_commit_dependency_validator.py
        language: python
        files: requirements\.txt$
        pass_filenames: true
        additional_dependencies: [packaging, requests]

      - id: validate-documentation
        name: Validate documentation standards
        entry: python scripts/pre_commit_doc_validator.py
        language: python
        files: README\.md$
        pass_filenames: true

      - id: check-sensitive-files
        name: Check for sensitive information
        entry: python scripts/pre_commit_sensitive_check.py
        language: python
        types: [text]
        exclude: ^(\.git|__pycache__|\.env\.example|.*\.md)$

# Configuration for specific hooks
exclude: |
  (?x)^(
    \.git/|
    \.github/|
    __pycache__/|
    \.mypy_cache/|
    \.pytest_cache/|
    node_modules/|
    venv/|
    \.env
  )

# Global configurations
default_language_version:
  python: python3.12

ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: [mypy]  # Skip mypy in CI as it's handled separately

x
  rag_tutorials/dingo_data_quality_evaluation/QUICKSTART.md
Due: none

x
  rag_tutorials/dingo_data_quality_evaluation/README.md
Due: validate-documentation

Update README files across various sections to improve clarity and consistency.
  ai_agent_framework_crash_course/openai_sdk_crash_course/10_tracing_observability/README.md
  ai_agent_framework_crash_course/openai_sdk_crash_course/11_voice/README.md
  ai_agent_framework_crash_course/openai_sdk_crash_course/11_voice/realtime/README.md
  ai_agent_framework_crash_course/openai_sdk_crash_course/11_voice/static/README.md
  ai_agent_framework_crash_course/openai_sdk_crash_course/11_voice/streamed/README.md
  ai_agent_framework_crash_course/openai_sdk_crash_course/2_structured_output_agent/README.md
  ai_agent_framework_crash_course/openai_sdk_crash_course/4_running_agents/README.md
  ai_agent_framework_crash_course/openai_sdk_crash_course/5_context_management/README.md
  ai_agent_framework_crash_course/openai_sdk_crash_course/6_guardrails_validation/README.md
  ai_agent_framework_crash_course/openai_sdk_crash_course/7_sessions/README.md
  ai_agent_framework_crash_course/openai_sdk_crash_course/8_handoffs_delegation/README.md
  ai_agent_framework_crash_course/openai_sdk_crash_course/9_multi_agent_orchestration/README.md
Due: validate-documentation

feat: Add Gemma 3 fine-tuning tutorial
  README.md
  advanced_llm_apps/llm_finetuning_tutorials/gemma3_finetuning/README.md
  advanced_llm_apps/llm_finetuning_tutorials/gemma3_finetuning/finetune_gemma3.py
  advanced_llm_apps/llm_finetuning_tutorials/gemma3_finetuning/requirements.txt
Due: validate-dependencies, validate-documentation, check-sensitive-files

docs: Enhance README with detailed Guardrails workflow diagram for input and output validation
  ai_agent_framework_crash_course/openai_sdk_crash_course/6_guardrails_validation/README.md
Due: validate-documentation

docs: Remove outdated Guardrails workflow diagram from README for clarity
  ai_agent_framework_crash_course/openai_sdk_crash_course/6_guardrails_validation/README.md
Due: validate-documentation

refactor: Revamp travel planner app by removing calendar MCP integration, enhancing itinerary generation, and updating README for clarity and feature highlights
  mcp_ai_agents/ai_travel_planner_mcp_agent_team/README.md
  mcp_ai_agents/ai_travel_planner_mcp_agent_team/app.py
  mcp_ai_agents/ai_travel_planner_mcp_agent_team/calendar_mcp.py
  mcp_ai_agents/ai_travel_planner_mcp_agent_team/requirements.txt
Due: validate-dependencies, validate-documentation, check-sensitive-files

Update README.md
  mcp_ai_agents/browser_mcp_agent/README.md
Due: validate-documentation

Meeting minutes generator app
  productivity_apps/meeting_minutes_generator/README.md
  productivity_apps/meeting_minutes_generator/meeting_minutes_generator.py
  productivity_apps/meeting_minutes_generator/requirements.txt
Due: validate-dependencies, validate-documentation, check-sensitive-files

Revert "Meeting minutes generator app"
  productivity_apps/meeting_minutes_generator/README.md
  productivity_apps/meeting_minutes_generator/meeting_minutes_generator.py
  productivity_apps/meeting_minutes_generator/requirements.txt
Due: validate-dependencies, validate-documentation, check-sensitive-files

Resume & Job matcher
  productivity_apps/resume_job_matcher/README.md
  productivity_apps/resume_job_matcher/app.py
  productivity_apps/resume_job_matcher/requirements.txt
Due: validate-dependencies, validate-documentation, check-sensitive-files

Addressing comments
  advanced_llm_apps/resume_job_matcher/README.md
  advanced_llm_apps/resume_job_matcher/app.py
  advanced_llm_apps/resume_job_matcher/requirements.txt
Due: validate-dependencies, validate-documentation, check-sensitive-files

feat: Add Contextual AI RAG agent
  README.md
  rag_tutorials/contextualai_rag_agent/README.md
  rag_tutorials/contextualai_rag_agent/contextualai_rag_agent.py
  rag_tutorials/contextualai_rag_agent/requirements.txt
Due: validate-dependencies, validate-documentation, check-sensitive-files

feat: Add new local Agentic RAG app with EmbeddingGemma
  rag_tutorials/agentic_rag_embedding_gemma/README.md
  rag_tutorials/agentic_rag_embedding_gemma/agentic_rag_embeddinggemma.py
  rag_tutorials/agentic_rag_embedding_gemma/agno.png
  rag_tutorials/agentic_rag_embedding_gemma/google.png
  rag_tutorials/agentic_rag_embedding_gemma/ollama.png
  rag_tutorials/agentic_rag_embedding_gemma/requirements.txt
Due: validate-dependencies, validate-documentation, check-sensitive-files

refactor: Update README to reflect new Agentic RAG app with Embedding Gemma and remove outdated agent files
  README.md
  rag_tutorials/agentic_rag/README.md
  rag_tutorials/agentic_rag/rag_agent.py
  rag_tutorials/agentic_rag/requirements.txt
Due: validate-dependencies, validate-documentation, check-sensitive-files

Update emoji for Agentic RAG with Embedding Gemma
  README.md
Due: validate-documentation

Enhance README with model logos and formatting
  README.md
Due: validate-documentation

docs: Add comprehensive documentation across AI agent applications
  advanced_ai_agents/multi_agent_apps/agent_teams/ai_legal_agent_team/legal_agent_team.py
  mcp_ai_agents/browser_mcp_agent/main.py
  rag_tutorials/agentic_rag_embedding_gemma/agentic_rag_embeddinggemma.py
  starter_ai_agents/ai_data_analysis_agent/ai_data_analyst.py
  starter_ai_agents/ai_travel_agent/local_travel_agent.py
  starter_ai_agents/ai_travel_agent/travel_agent.py
  voice_ai_agents/voice_rag_openaisdk/rag_voice.py
Due: check-sensitive-files

feat: Add comprehensive documentation to Python files across repository
  documentation-improvements.patch
Due: check-sensitive-files

fix: resolve bug in `local_ai_real_estate_agent_team.py`
  advanced_ai_agents/multi_agent_apps/agent_teams/ai_real_estate_agent_team/local_ai_real_estate_agent_team.py
Due: check-sensitive-files

Update README.md
  README.md
Due: validate-documentation

chore: Remove deprecated settings.local.json file
  .claude/settings.local.json
Due: check-sensitive-files

AI Productivity & Focus Agent
  advanced_ai_agents/single_agent_apps/ai_productivity_and_focus_agent/README.md
  advanced_ai_agents/single_agent_apps/ai_productivity_and_focus_agent/app.py
  advanced_ai_agents/single_agent_apps/ai_productivity_and_focus_agent/requirements.txt
Due: validate-dependencies, validate-documentation, check-sensitive-files
